:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text colors*/
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --light-text-color: #ffffff;
  --black-text-color: #000000;
  /* background colors */
  --background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --dark-fill-color: #2f303a;
  --light-fill-color: #ffffff;
  --light-border-color: #eeeeee;
  --img-background-color: #c4c4c4;
  --icon-light-color: #afb1b8;
  --icon-grey-color: #757575;
  --icon-white-color: #ffffff;
  /* animation */
  --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio, .clients, .team, .doings, .feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .clients, .team, .doings, .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer__container, .portfolio-container, .clients-container, .team__container, .doings__container, .feature__container, .hero__container, .header__container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .footer__container, .portfolio-container, .clients-container, .team__container, .doings__container, .feature__container, .hero__container, .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container, .portfolio-container, .clients-container, .team__container, .doings__container, .feature__container, .hero__container, .header__container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* base styles */
.page {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.btn {
  width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-background-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.header {
  background-color: var(--light-fill-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 92px;
  }
}

.header__web {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}

.nav__link--current {
  color: var(--accent-text-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-background-color);
  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-contacts__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
}

.header-contacts__item {
  color: var(--main-text-color);
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--icon-grey-color);
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}

.header-contacts__icon--mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
}

.header-contacts__icon--phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-background-color);
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--light-fill-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim-hover);
  transition: -webkit-transform var(--anim-hover);
  transition: transform var(--anim-hover);
  transition: transform var(--anim-hover), -webkit-transform var(--anim-hover);
}
.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: none;
  }
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu__btn--open {
    display: none;
  }
}

.menu__btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__btn--close:hover, .menu__btn--close:focus {
  fill: var(--accent-background-color);
}

.menu__list {
  margin-bottom: auto;
  gap: 32px;
}

.menu__link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-text-color);
}

.menu__link--current {
  color: var(--accent-text-color);
}

.menu-contacts {
  gap: 32px;
  margin-bottom: 64px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: var(--accent-text-color);
}

.menu-contacts__link--phone {
  font-size: 27px;
  line-height: 1.1764705882;
  color: var(--accent-text-color);
}
@media screen and (min-width: 480px) {
  .menu-contacts__link--phone {
    font-size: 34px;
  }
}

.menu-contacts__link--mail {
  font-size: 24px;
  line-height: 1.1666666667;
}

@media screen and (min-width: 480px) {
  .menu-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: 480px) {
  .menu-socials__item:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 22px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-socials__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(--accent-text-color);
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--img-background-color);
  background-image: url(../image/hero/hero-overlay_mob-@1x.png), url(../image/hero/hero-img_mob-@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/hero/hero-overlay_mob-@2x.png), url(../image/hero/hero-img_mob-@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../image/hero/hero-overlay_tab-@1x.png), url(../image/hero/hero-img_tab-@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/hero/hero-overlay_tab-@2x.png), url(../image/hero/hero-img_tab-@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../image/hero/hero-overlay_desk-@1x.png), url(../image/hero/hero-img_desk-@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/hero/hero-overlay_desk-@2x.png), url(../image/hero/hero-img_desk-@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-hover), visibility var(--anim-hover);
  transition: opacity var(--anim-hover), visibility var(--anim-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  max-width: 450px;
  min-height: 610px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--light-fill-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 610px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 530px;
    min-height: 580px;
  }
}

.modal__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--light-fill-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-background-color);
}

.register-form {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-form__name {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .register-form__name {
    font-size: 20px;
    line-height: 1.15;
  }
}

.register-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.register-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  background: var(--light-fill-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}
.register-form__input:focus {
  border-color: var(--accent-background-color);
  outline: var(--accent-background-color);
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}

.register-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.register-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.register-form__input:focus + .register-form__icon {
  fill: var(--accent-background-color);
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}

.register-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.register-form__message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.register-form__message textarea {
  resize: none;
  min-height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.register-form__message textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.form-agreement__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .form-agreement__label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.form-agreement__link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.form-agreement__icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-agreement__unchecked {
  opacity: 1;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.form-agreement__checkbox:checked + .form-agreement__icons .form-agreement__unchecked {
  opacity: 0;
}

.form-agreement__checked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.form-agreement__checkbox:checked + .form-agreement__icons .form-agreement__checked {
  opacity: 1;
}

.register-form__btn {
  display: block;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .feature__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.feature__icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__subtitle {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.doings {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .doings {
    display: none;
  }
}

.doings__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.doings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.doings__item {
  position: relative;
}

.doings__overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.doings__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.team {
  background-color: var(--secondary-background-color);
}

.team__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 33px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .team-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-card__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team-card__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-card__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__img {
    width: 270px;
  }
}

.team-card__description {
  max-width: 450px;
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--light-fill-color);
}
@media screen and (min-width: 768px) {
  .team-card__description {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__description {
    max-width: 270px;
    padding-bottom: 30px;
  }
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card__subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--light-fill-color);
  border-radius: 50%;
  -webkit-transition: fill var(--anim-hover), background-color var(--anim-hover);
  transition: fill var(--anim-hover), background-color var(--anim-hover);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-background-color);
}

.socials__icon {
  fill: var(--icon-light-color);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--light-fill-color);
}

.clients__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 33px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--light-fill-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-background-color);
}
@media screen and (min-width: 360px) and (max-width: 479px) {
  .clients__link {
    min-width: 150px;
  }
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--icon-light-color);
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-background-color);
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-right: 124px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

.filters-list__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color var(--anim-hover), background-color var(--anim-hover), -webkit-box-shadow var(--anim-hover);
  transition: color var(--anim-hover), background-color var(--anim-hover), -webkit-box-shadow var(--anim-hover);
  transition: color var(--anim-hover), background-color var(--anim-hover), box-shadow var(--anim-hover);
  transition: color var(--anim-hover), background-color var(--anim-hover), box-shadow var(--anim-hover), -webkit-box-shadow var(--anim-hover);
}
.filters-list__button:hover, .filters-list__button:focus {
  background-color: var(--accent-background-color);
  color: var(--light-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .projects-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-card__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.projects-card__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--anim-hover);
  transition: -webkit-box-shadow var(--anim-hover);
  transition: box-shadow var(--anim-hover);
  transition: box-shadow var(--anim-hover), -webkit-box-shadow var(--anim-hover);
}
.projects-card__link:hover, .projects-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card__img {
  position: relative;
  overflow: hidden;
}

.projects-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim-hover);
  transition: -webkit-transform var(--anim-hover);
  transition: transform var(--anim-hover);
  transition: transform var(--anim-hover), -webkit-transform var(--anim-hover);
}
.projects-card__item:hover .projects-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-card__description {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

.projects-card__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-card__text--padding {
    padding-bottom: 56px;
  }
}

.projects-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-fill-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__div {
    margin-bottom: 60px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--light-fill-color);
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

.footer__web {
  color: var(--accent-text-color);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.addres {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .addres {
    text-align: center;
  }
}

.addres__text {
  color: var(--light-text-color);
  padding-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .addres__text {
    text-align: center;
  }
}

.addres__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
@media screen and (max-width: 1199px) {
  .addres__link {
    text-align: center;
  }
}

.addres__contacts {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .addres__contacts {
    margin-bottom: 8px;
  }
}

.addres__link:hover,
.addres__link:focus {
  color: var(--accent-text-color);
}

.footer-socials {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials {
    margin-left: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--anim-hover);
  transition: background-color var(--anim-hover);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-background-color);
}

.footer-socials__icon {
  fill: var(--light-fill-color);
}

@media screen and (min-width: 768px) {
  .footer-mailing {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    margin-left: 95px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.footer-form__field {
  width: 300px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-fill-color);
  padding-left: 16px;
  color: var(--light-text-color);
}
@media screen and (min-width: 480px) {
  .footer-form__field {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-form__field {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    width: 360px;
  }
}

.footer-form__field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-form__icon {
  fill: var(--icon-white-color);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */