.doings {
    @extend %section;
    @extend %container;
    padding-top: 0;
}

.doings__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.doings__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.doings__item {
    position: relative;
}

.doings__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.doings__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
}