.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-fill-color);
}

.footer__container {
  @extend %container;
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--light-fill-color);
}

.footer__web {
  color: var(--accent-text-color);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}
