.header-contacts {
  margin-left: auto;
}

.header-contacts__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
}

.header-contacts__item {
  color: var(--main-text-color);
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--anim-hover);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--icon-grey-color);
  transition: fill var(--anim-hover);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-background-color);
}
